// Файл настроек JourneyMap. Редактировать на свой страх и риск!
// Для использования во всех мирах, поместите этот файл в 'journeymap\config\5.1\'
// Для дополнительной информации откройте страницу http://journeymap.info/help/wiki/Options_Manager
{
  "enabled": false,
  "port": 8080,
  "googleMapApiDomain": ".com",
  "preferredMapType": "day",
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": true,
  "entityIconSetName": "2D",
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}