// Файл настроек JourneyMap. Редактировать на свой страх и риск!
// Для использования во всех мирах, поместите этот файл в 'journeymap\config\5.1\'
// Для дополнительной информации откройте страницу http://journeymap.info/help/wiki/Options_Manager
{
  "preferredMapType": "day",
  "showCaves": false,
  "fontScale": 2,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": true,
  "showPlayerHeading": true,
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": true,
  "entityIconSetName": "2D",
  "zoomLevel": 3,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}